In [2]:
import pandas as pd 
import numpy as np

In [10]:
df=pd.read_csv("C:/Users/abdul/OneDrive/Desktop/Grades_formatting.csv")

In [11]:
df.head(2)

  Holy Q Urdu English Islamiyat Pak St Math Phy Chem Bio Comp
0     A+   A+      A+        A+     A+   A+  A+   A+  A+  NaN
1     A+   A+      A+        A+     A+   A+  A+   A+  A+  NaN

In [34]:
holyq=df["Comp"].value_counts()

In [35]:
print(holyq)

Comp
A+    20
A      9
B+     4
C+     2
B      2
A      1
B      1
Name: count, dtype: int64